apiVersion: v1
kind: Service
metadata:
  name: todo-backend-svc
  namespace: todo-app-v4
spec:
  type: ClusterIP
  selector:
    app: todo-backend
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
